# GitHub App
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=

# Git Bot Identity
GIT_BOT_USERNAME=RepoSister Bot
GIT_BOT_EMAIL=bot@repositer.ai

# OpenAI
OPENAI_API_KEY=

# Application
PORT=3000
BUN_ENV=development
LOG_LEVEL=debug
MAX_CONCURRENT_JOBS=2
CLEANUP_REPOSITORIES=true

# Docker
DOCKER_RUNTIME_PREFIX=ghbot 